@charset "utf-8";
/* ==================================
fv
=================================== */
.fv{
    border-top: 1px solid var(--primary-black);
    position: relative; 
    overflow: hidden;
    --final-height:81%;
    padding-bottom: 40px;
}

/* FVの左ライン (アニメーション) */
.fv::before {
    content: "";
    position: absolute;
    left: 5.8%; 
    top: 0; 
    width: 1px;
    height: 0; 
    background-color: var(--primary-black);
    transition: height 5s ease-out; 
}

/* FVの右ライン (アニメーション) */
.fv::after {
    content: "";
    position: absolute;
    right: 5.8%; 
    top: 0; 
    width: 1px;
    height: 0; 
    background-color: var(--primary-black);
    transition: height 5s ease-out; 
}

@keyframes line-grow {
    0% {
        height: 0;
    }
    100% {
        height: var(--final-height, 100%)
    }
}

.fv_lead{
    overflow: hidden;
    opacity: 0;
}

.fv_container{
    margin: 46px 20.13% 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.fv_wrap01,
.fv_wrap03{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fv_mockup01{
    width: 8.8vw;
    height:100%;
    aspect-ratio: 33/22;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 75% 100%; /* 50% は横方向の丸み */
    border-top-right-radius: 75% 100%; /* 100px は縦方向の丸み（高さの半分以上） */
}

.fv_mockup02{
    width: 8.8vw;
    height:100%;
    aspect-ratio: 33/20;
    overflow: hidden;
    object-fit: cover;
    margin-right: 5px;
    /* ここはサイズ確認する必要あり。適当に入れてます */
}

.fv_main{
    font-family: 'DM Serif Display';
    font-size: clamp(3.2rem, 8.5vw, 11.2rem);
    line-height: 1.25;
    letter-spacing: 0.04em;
}

.fv_sub{
    font-family: 'DM Serif Display';
    font-size: clamp(1.2rem, 3.2vw, 1.8rem);
    line-height: 1.66;
    width: 34.4%;
    margin: 15px 18.933% 0 auto;
}

/*------------------------
fv/pc
------------------------ */
@media screen and (min-width:769px) {
    fv{
    --final-height:46.69%;
    padding-bottom: 100px;
    }

    .fv::before {
        left: 6.1%; 
    }

    .fv::after {
        right: 6.1%; 
    }

    .fv_container{
        margin:110px 22.86% 0 ;
    }

    .fv_main{
        font-size: clamp(3.2rem, 8.2vw, 11.2rem);
    }

    .fv_sub{
        font-size: clamp(1.2rem, 1.3vw, 1.8rem);
        line-height: 1.5;
        width: 34.2%;
        margin: 49px 22.86% 0 auto;
    }  
}


/* ==========================
works
============================ */
.works{
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    --final-height: 942px; /* CSS変数として定義 */
    padding-bottom: 40px;
}

.works::before {
    content: "";
    position: absolute;
    left: 5.8%; 
    top: 120px; 
    width: 1px;
    height: 0; 
    background-color: var(--primary-black);
    z-index: 1;
    transition: height 5s ease-out; 
}

.works_container{
    display: block;
    margin: 40px auto;
}

.works_01,
.works_02{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works_02{
    margin-top: 94px;
    /* ここの高さは要確認 */
}

.works_img01,
.works_img02{
    width: 68.8%;
    aspect-ratio: 258/171;
    object-fit: cover;
    outline: 1px solid var(--primary-black); 
    outline-offset: 6px;
}

.works_inner_main{
    width: 78.93%;
}

.works_job{
    font-size: clamp(1.2rem, 3.2vw, 1.6rem);
    color: var(--primary-green);
    line-height: 1;
    margin-top: 16px;
}

.job_main{
    margin-top: 26px;
}

.works_name_main{
    font-size: clamp(2.2rem, 5.8vw, 3.2rem);
    font-weight: 700;
    line-height: 1;
    margin-top: 26px;
}

.works_type{
    font-size: clamp(1.8rem, 4.8vw, 2.4rem);
    line-height: 1;
    margin-top: 26px;
}

.works_text{
    margin-top: 26px;
}

.works_sub{
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    margin: 94px auto 0;
    padding: 0 74.5px;
}

.works_imgSub{
    width: 227px;
    aspect-ratio: 227/156;
    object-fit: cover;
}

.works_name_sub{
    margin-top: 22px;
}

/*------------------------
works/pc
------------------------ */
@media screen and (min-width:769px) {
    .works{
    padding-top: 84px;
    --final-height: 560px; 
    padding-bottom: 100px;
    }

    .works::before {
        left: 6.1%; 
        top: 194px; 
    }

    .works_container{
        margin: 202px auto;
    }

    .works_main{
        margin: 0 16.02% ;
    }

    .works_01,
    .works_02{
        flex-direction: row;
        align-items: flex-start;
        gap: 4.9vw;
    }

    .works_02{
        margin-top: 180px;
        /* ここの高さは要確認 */
    }

    .works_img01,
    .works_img02{
        width: 32.3vw;
        aspect-ratio: 440/290;
        outline-offset: 10px;
    }

    .works_inner_main{
        width: 27.86vw;
    }

    .works_job{
        font-size: clamp(1.2rem, 1.1vw, 1.6rem);
        margin-top: 11px;
    }

    .job_main{
        margin-top: 0px;
    }

    .works_name_main{
        font-size: clamp(2.2rem, 2.3vw, 3.2rem);
        margin-top: 32px;
    }

    .works_type{
        font-size: clamp(1.8rem, 1.7vw, 2.4rem);
        margin-top: 32px;
    }

    .works_text{
        margin-top: 32px;
    }

    .works_sub{
        display: flex;
        flex-wrap: wrap;
        gap: 3.23%;
        margin: 102px auto 0;
        padding: 0 16.2vw;
    }

    .works_imgSub{
        width: 20.2vw;
        aspect-ratio: 275/189;
        margin-top: 78px;
    }

    .works_name_sub{
        margin-top: 11px;
    }
}


/* ===================
about
===================== */
.about{
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    --final-height: 400px; /* CSS変数として定義 */
    padding-bottom: 40px;
}

.about::before {
    content: "";
    position: absolute;
    left: 5.8%; 
    top: 120px; 
    width: 1px;
    height: 0; 
    background-color: var(--primary-black);
    z-index: 1;
    transition: height 5s ease-out; 
}

.about_container{
    margin:131px auto 0;
}

.about_imgWrap{
    width: 54.6%;
    height: 54.6%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.about_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_inner{
    margin: 47px 13.3% 0;
}

.about_nameJa{
    font-size: clamp(1.4rem, 3.7vw, 2rem);
    color: var(--primary-green);
    line-height: 1;
}

.about_nameEn{
    font-family: 'DM Serif Display';
    font-size: clamp(2.4rem, 6.4vw, 4.8rem);
    line-height: 1;
}

.about_text{
    margin-top: 51px;
}

.about_btnWrap{
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 40px;
    color: var(--primary-beige); 
    background-color: var(--primary-green);
    text-decoration: none;
    cursor: pointer;
    /* 2. 内側の線（border） */
    border: 1px solid var(--primary-green); 
    /* 3. 外側の線（outline）*/
    outline: 1px solid var(--primary-green); 
    outline-offset: 4px;
    transition: all 0.5s ease; 
    margin-top: 44px;
}

.about_btnWrap:hover {
    background-color: var(--primary-beige); 
    color: var(--primary-green); 
    border-color: var(--primary-green);
    outline-color: var(--primary-green);
}

.about_btn{
    font-family: 'DM Serif Display';
    font-size: clamp(1.6rem, 4.2vw, 2.4rem);
    line-height: 1;
}

/*------------------------
about/pc
------------------------ */
@media screen and (min-width:769px) {
    .about{
        padding-top: 84px;
        --final-height: 500px; /* CSS変数として定義 */
        padding-bottom: 184px;
    }

    .about::before {
        left: 6.1%; 
        top: 194px; 
    }

    .about_container{
        margin:188px 6.17% 0 16.02% ;
        display: flex;
        align-items: center;
    }

    .about_imgWrap{
        width: 100%;
    }
    /* ここの画像の設定の仕方がわからない。小さくなる。VWや％はどう使う？ */

    .about_inner{
        margin: 0 9.19% 0 5.5%;
    }

    .about_nameJa{
        font-size: clamp(1.4rem, 1.4vw, 2rem);
    }

    .about_nameEn{
        font-size: clamp(2.4rem, 3.5vw, 4.8rem);
    }

    .about_text{
        margin-top: 56px;
    }

    .about_btn{
        font-size: clamp(1.6rem, 1.76vw, 2.4rem);
    }
}
