@charset "utf-8";

.menu_list{
    display: grid;
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
    gap: 12px;
    margin: 48px auto 0;
    width: max-content;
}  

.menu_tag {
    width: 168px;
    height: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    border: 1px solid var(--primary-brown,#937151);
    color: var(--primary-brown,#937151);
    text-align: center;
    align-items: center;
}
/* ここの文字の並びがうまくいかない */

  .menu_tag.active {
    font-weight: bold;
    color: var(--primary-white1,#f0f0f0);
    background-color: var(--primary-brown,#937151);
    text-align: center;
  }
  
  .menu_content {
    display: none;
  }
  
  .menu_content.active {
    display: block;
  }

.btn:hover {
    opacity: 0.8;
}


.menu_img{
    width: 230px;
    height: 210px;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
    margin: 24px auto 12px;
    display: flex;
    flex-direction: column;
}

.menu_title{
    align-items: start;
    width: 210px;
    margin: 16px auto 0;
}

.menu_title span{
    font-size: 1.4rem;
    font-weight: 600;
    line-height:1.75 ;
    letter-spacing: 1.12px;
}

.menu_text{
    width: 210px;
    margin: 16px auto 0;
}

.price{
    width: 210px;
    margin: 16px auto 40px;
    align-items: flex-start;
}

.btn--product{
    margin: 6px auto 46px;
}

.btn_wrapSp{
    width: 100%;
    height: 80px;
    background-color: var(--primary-blue,#349fc4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0px;  
    z-index: 1000;  
}

.btn--stickSp{
    background: var(--primary-white2,#fafafa);
    text-align: center;
    color: var(--primary-blue,#349fc4);
    margin: 15px auto 13px;
    line-height:1.7em;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.12px;
    padding: 15px;
    position: relative;
    transition: 0.4s;
    display: flex;
    width: 300px;
    height: 56px;
    justify-content: center;
    flex-shrink: 0;
}

.btn--stickSp::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: '';
    /* -webkit-transition: all .3s; */
    transition: all .3s;
    border: 1px solid var(--primary-blue,#349fc4);
  }

.stick_top{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-right: 4px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color:var(--primary-white2,#f6f8f8);
    border: none;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

.btn_top{
    color: var(--primary-brown, #937151);
    font-family: "Sawarabi Mincho";
    font-size: 1rem;
    line-height: 1px;
    letter-spacing: 0.2px;
    display: inline-block;
    margin: 0 auto 8px;
}

.top_icon{
    width: 10px;
    height: auto;
    margin:0 auto 8px;
}

@media screen and (min-width:769px) {
    .menu_list{
        grid-template-columns: 1fr;
        display: flex;
        justify-content: space-evenly;
        margin: 48px auto;
        
    }

    .menu_tag{
        color: var(--primary-brown,#937151);
        width: 208px;
        height: 40px;
    }

    .box{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        justify-content: start;
        gap: 20px;
        margin: 48px 8.8% 0;
    }
    
    .menu_img{
        width: 230px;
        height: 210px;
        object-fit: cover;
        overflow: hidden;
        align-items: center;
        margin: 24px auto 12px;
        display: flex;
        flex-direction: column;
    }
    
    .menu_title{
        align-items: start;
        width: 210px;
        margin: 16px auto 0;
    }
    
    .menu_title span{
        font-size: 1.4rem;
        font-weight: 600;
        line-height:1.75 ;
        letter-spacing: 1.12px;
    }
    
    .menu_text{
        width: 210px;
        margin: 16px auto 0;
    }
    
    .price{
        width: 210px;
        margin: 16px auto 40px;
        align-items: flex-start;
    }
    
    .btn--product{
        margin: 6px auto 46px;
    }

    .btn_wrapSp{
        display: none;
    }
}