@charset "utf-8";

/* =====================
header
====================== */
.header::before {
    content: "";
    position: absolute; 
    left: 0%;
    top: 0;
    height: 0%;
    width: 0px;
    opacity: 0; 
    z-index: -1; 
}

.header::after {
    content: "";
    position: absolute; 
    right: 0%;
    top: 0;
    height: 0%;
    width: 0px;
    opacity: 0;
    z-index: -1; 
}

/* ==================================
fv
=================================== */
.profile_fv{
    border-top: 1px solid var(--primary-black);
    position: relative; 
    padding-bottom: 40px;
}

.profile_title{
    font-family: 'DM Serif Display';
    font-size: clamp(2.8rem, 7.4vw, 10.4rem);
    line-height: 1;
    margin: 40px auto 0 5.3vw;
}

.profile_imgWrap_small{
    width: 19.4vw;
    aspect-ratio: 73/104;
    object-fit: cover;
    overflow: hidden;
    margin: -32px 0 0 auto;
}

.profile_imgWrap_big{
    width: 64.8vw;
    aspect-ratio: 243/137;
    object-fit: cover;
    /* overflow: hidden; */
    margin: 0 auto 0 0;
}

/*------------------------
fv/pc
------------------------ */
@media screen and (min-width:769px) {
    .profile_fv{
        padding-bottom: 100px;
    }

    .profile_title{
        font-size: clamp(2.8rem, 7.6vw, 10.4rem);
        margin: 112px auto 0 5.5vw;
    }

    .profile_imgWrap_small{
        width: 19.6vw;
        aspect-ratio: 269/378;
        margin: -118px 0 0 auto;
    }

    .profile_imgWrap_big{
        width: 65vw;
        aspect-ratio: 884/499;
        /* margin: 0 auto 0 0; */
    }
}


/* ==========================
myself
============================ */
.myself{
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    --final-height: 527px; 
    padding-bottom: 40px;
}

.myself::before {
    content: "";
    position: absolute;
    left: 5.8%; 
    top: 50px; 
    width: 1px;
    height: 0; 
    background-color: var(--primary-black);
    z-index: 1;
    transition: height 5s ease-out; 
}


#myself .section_title::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 100%; 
  transform: translateY(50%);
  width: 0;
  height: 0;
  opacity: 0;
  margin-left: 0;
}

.myself_container{
    display: block;
    margin: 20px auto;
    padding: 0 11.73vw;
}

.myself_img{
    width: 52vw;
    aspect-ratio: 195/130;
    object-fit: contain;
    outline: 1px solid var(--primary-black);
    outline-offset: 4px;
    margin: 0 auto;
    overflow: hidden;
}

.myself_nameWrap::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--primary-black);
    margin: 27px auto 27px 0 ;
}


.myself_nameEn{
    font-family: 'DM Serif Display';
    font-size: 1.6rem;
    color: var(--primary-green);
    margin-top: 38px;
}

.myself_nameJa{
    font-size: clamp(2.4rem, 6.4vw, 3.6rem );
    font-weight: 500;
    margin-top: 10px;
}

.myself_text{
    margin: 30px auto 30px 0;
}

.myself_text::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--primary-black);
    margin: 30px auto 0;
}


/*------------------------
myself/pc
------------------------ */
@media screen and (min-width:1024px) {
    .myself{
        padding-top: 84px;
        --final-height: 560px; 
        padding-bottom: 100px;
    }

    .myself::before {
        left: 6.1%; 
        top: 85px; 
    }

    .myself_container{
        display: flex;
        flex-direction: row-reverse;
        gap: 7.05vw;
        align-items: center;
        width: auto;
        max-width: 100%;
        box-sizing: border-box;
    }

    .myself_img{
        width: 41.25vw;
        aspect-ratio: 561/374;
        flex-shrink: 0;
        margin-top: 94px;
    }

    .myself_img img{
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .myself_nameEn{
        margin-top: 38px;
    }

    .myself_nameJa{
        font-size: clamp(2.4rem, 2.6vw, 3.6rem );
        margin-top: 10px;
    }

    .myself_text{
        margin: 20px auto 20px 0;
    }

    .myself_text::after{
        margin: 20px auto 0;
    }
}


/* ===================
strength
===================== */
.strength{
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    --final-height: 560px; /* CSS変数として定義 */
    padding-bottom: 40px;
}

.strength::before {
    content: "";
    position: absolute;
    left: 5.8%; 
    top: 134px; 
    width: 1px;
    height: 0; 
    background-color: var(--primary-black);
    z-index: 1;
    transition: height 5s ease-out; 
}

.animated-line.is-drawn::before,
.animated-line.is-drawn::after {
    height: 60%;
}

.strength_container{
    margin:38px auto 0;
    padding: 0 10.1vw 0 9.8vw;
}

.strength_inner{
    margin: 47px 13.3% 0;
}

.strength_wrap{
    margin-top: 61px;
}

.strength_leadWrap{
    display: grid;
    align-items: center;
    width: 48.5vw;
    /* 必要に応じて justify-content も追加 */
}

.strength_lead,
.strength_number {
    grid-area: 1 / 1 / 2 / 2; 
}

.strength_lead{
    font-size: clamp(2.2rem, 5.8vw, 3.2rem);
    font-weight: 700;
    z-index: 1;
}

.strength_number{
    font-family: 'DM Serif Display';
    font-size: clamp(11.6rem, 30.9vw, 21.6rem);
    line-height: 1;
    opacity: 0.1;
    z-index: 0;
    justify-self: end; 
    align-self: center;
}

.strength_text{
    margin-top: 26px;
}

/*------------------------
strength/pc
------------------------ */
@media screen and (min-width:769px) {
    .strength{
        padding-top: 84px;
        --final-height: 500px; /* CSS変数として定義 */
        padding-bottom: 108px;
    }

    .strength::before {
        left: 6.1%; 
        top: 200px;
    }

    .strength_container{
        padding: 0 9.6vw 0 13.8vw;
    }

    .strength_inner{
        margin: 47px 0 0 50px;
    }

    .strength_wrap{
        margin-top: 4.48%;
        display: flex;
        justify-content: space-between;
        gap: 10vw;
        align-items: center;
    }

    .strength_leadWrap{
        width: 21.7vw;
        flex-shrink: 0;
        position: relative;
        /* 必要に応じて justify-content も追加 */
    }

    .strength_lead{
        font-size: clamp(2.2rem, 2.3vw, 3.2rem);
    }

    .strength_number{
        font-size: clamp(11.6rem, 15.8vw, 21.6rem);
    }

    .strength_text{
        margin-top: 0;
        flex-grow: 1;
        max-width: 600px;
    }
}


/* ===================
career
===================== */
.career{
    padding: 70px 5.8vw 40px;
    position: relative;
    overflow: hidden;
    --final-height: 560px;
}

.career_container{
    position: relative;
    padding-left: 20px;
}

.career_container::before{
    content: "";
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 100px;
    width: 1px;
    background-color: var(--primary-black);
    z-index: 1;
}

#career .section_title{
    margin-left: 0;
}

.career_date{
    width: 80px;
    margin-top: 45px;
    flex-shrink: 0;
    text-align: right;
    padding-right: 40px;
    position: static;
}

.career_timeline{
    display: flex;
    position: relative;
}

.career_date::after {
    content: "";
    position: absolute;
    left: 80px;
    top: 54px;
    transform: translateX(-50%);
    width: 11px;
    height: 11px;
    background-color: #5f8b58;
    border-radius: 50%; 
    z-index: 2;
} 

.career_inner{
    flex-grow: 1;
    padding-left: 40px;
}

.career_textwrap{
    padding-left: 16px;
}

.career_lead{
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 45px;
}

.career_text{
    margin: 12px auto 15px;
}

/*------------------------
career/pc
------------------------ */
@media screen and (min-width:769px) {
    .career{
        padding-top: 84px;
        padding-bottom: 184px;
    }

    .career_container{
        margin: 17.4% 11.7vw 0 0;
    }

    .career_container::before{
        top: 100px;
    }

    .career_timeline{
        margin-top: 100px;
    }
      .career_textwrap{
        padding-left: 10.5%;
        max-width: 1000px;
    }

    .career_lead{
        font-size: 2rem;
    }

    .career_text{
        margin: 12px auto 48px;
    } 
}

/* ===================
interests
===================== */
.interests{
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    /* --final-height: 345px;  */
    padding-bottom: 40px;
}

.interests::before{
    content: "";
    position: absolute;
    left: 5.8%;
    top: 94px;
    width: 1px;
    height: 0px;
    background-color: var(--primary-black);
    z-index: 1;
    transition: height 5s ease-out;
}

.interests_container{
    padding: 0 12.8vw;
    margin: 75px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
    width: auto;
    overflow: hidden;
}

.interests_item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.interests_img{
    width: 30vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
    transition: transform 0.3s ease;
}

.interests_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transform 0.3s ease;
}

.interests_text{
    color: #fff;
    line-height: 2;
}

.interests_item:hover .interests_overlay{
    opacity: 1;
}

/*------------------------
intereste/pc
------------------------ */
@media screen and (min-width:769px) {
    .interests{
        padding-top: 84px;
        /* --final-height: 500px; */
        padding-bottom: 184px;
    }

    .interests::before{
        left: 6.1%;
        top: 160px;
    }

    .interests_container{
        margin: 107px auto 0 ;
    }

    .interests_img{
        width: 23vw;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow: hidden;
    }


}










