@charset "utf-8";
/* ===============
common
================ */
:root{
    --primary-white1:#f0f0f0;
    --primary-white2:#fafafa;
    --primary-black:#3e3a39;
    --primary-blue:#349fc4;
    --primary-brown:#937151;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 
        'Lato',
        'Noto Sans JP';
    font-style: normal;
    color: var(--primary-black,#3e3a39);
    background-color: var(--primary-white2,#fafafa);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1.28px;
    line-height: 1.7em;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    font-size: 1.8rem;
    font-family: "Sawarabi Mincho";
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.36px;
}

h2{
    color: var(--brown, #937151);
    text-align: center;
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 1.68px;
    margin: 28px auto 0;
}

/* 写真をふわっと出す：透明で少し下に */
.aroma-fade {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.aroma-fade.is-active {
    opacity: 1;
    transform: translateY(0);
}

.aroma-fade.is-active.section_deco{
    transition-delay:0.3s ;
}

h3{
    color: var(--black, #3E3A39);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.7em;
    letter-spacing: 0.72px;
}

.section_deco{
    color: var(--brown, #937151);
    text-align: center;
    font-family: Pacifico;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.28px; 
    opacity: 0.3;
}

/* common Pc */
@media screen and (min-width:769px) {
    h1{
        font-size: 3.2rem;
        font-family: "Sawarabi Mincho";
        line-height: 1;
        letter-spacing: 0.64px;
    }
    
    h2{
        font-size: 2.8rem;
        letter-spacing: 2.24px;
    }
    
    h3{
        font-size: 2.1rem;
        letter-spacing: 1.68px;
    }
    
    .section-deco{
        font-size: 1.8rem;
        line-height: 1.7;
        letter-spacing: 1.44px; 
        opacity: 0.3;
    }
}

.btn{
    display: block;
    background: var(--primary-blue, #349fc4);
    text-align: center;
    color: #FFFFFF;
    margin: 15px auto 13px;
    line-height:1.7em;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.12px;
    padding: 15px;
    position: relative;
    transition: 0.4s;
    display: flex;
    width: 300px;
    height: 56px;
    justify-content: center;
    flex-shrink: 0;
}

.btn::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: '';
    transition: all .3s;
    border: 1px solid #FFFFFF;
  }
  
.btn:hover {
    opacity: 0.8;
}


/* =============================
header
================================ */

.header_topic{
    display: flex;
    height: 56px;
    padding: 4.5px 2% 3.5px 4%;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    align-self: stretch;
}

.logo_main span{
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 0.24px;
}

.btn--header{
    display: none;
}

.stick_menu,
.nav_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color:var(--primary-white2,#f6f8f8);
    border: none;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(147, 113, 81, 0.30);
  }
  
.stick_menu{
    position: fixed;
        top: 4.5px;
        right: 9px; 
        z-index: 1000;              
}

.stick_icon{
    width: 36px;
    height: auto;
    margin:3px auto 6px;
}
  
.btn_menu {
    color: var(--primary-brown, #937151);
    font-family: "Sawarabi Mincho";
    font-size: 1rem;
    line-height: 0px;
    letter-spacing: 0.2px;
    display: inline-block;
    margin: 12px auto 0;
}
  
.nav{
    background-color:var(--primary-white2,#fafafa);
    width: 272px;
    height: 565px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: 0.4s;
}

.nav_header{
    margin: 0;
    position: absolute;
    top: 4.5px;
    right: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.nav_btnClose{
    color: var(--primary-brownbrown, #937151);
    text-align: center;
    font-family: "Sawarabi Mincho";
    font-size: 1rem;
    line-height: 0;
    letter-spacing: 0.2px;
    /* margin-top: 12px; */
    order: 1;
}

.nav_btn{
    width: 16px;
    height: auto;
    order: 2;
    margin: 0 auto;
}

.nav_list{
    margin: 114px 35px 0 auto;
}

.nav_list a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s;
}

.nav_list a::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-black); 
    transition: width 0.3s;
}

.nav_list a:hover::after {
    width: 100%;
}

.nav_item{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    text-align: right;
    line-height: 2.8;
    letter-spacing: 1.28px;
}

.nav_item img{
    margin:10px auto;
}

.background{
    background-image: url('../images/bg1.png');
    width: 135px;
    height: 74px;
    opacity: 0.05;
    background-size: contain;
    background-repeat: no-repeat;
    margin: -31px 125px 9px 12px;
    flex-shrink: 0;
    aspect-ratio: 135/74;
}

.nav.active{
    transform: translateX(0);
    transition: transform 0.4s;
}

@media screen and (min-width:769px) {
    .header_topic{
        height: 96px;
        padding: 8px 14% 8px 2.5%;
    }

    .logo_main{
        font-size: clamp(1.8rem, 2.35vw, 3.2rem);
    }
    
    .btn--header{
        display: block;
    }

    .btn_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        align-self: stretch;
    }
    
    .logo_main span{
        font-size: 1.6rem;
        line-height: 1.25;
        letter-spacing: 1.28px;
    }
    
    .nav_header,
    .stick_menu{
        width: 72px;
        height: 72px;
        top: 11px;
        right: 26px;     
    }
    
    .stick_icon{
        width: 66px;
        height: auto;
        margin:3px auto 6px;
    }
      
    .btn_menu{
        font-size: 1.4rem;
        line-height: 0px;
        margin: 26px auto 0;
    }

    .nav_btnClose {
        font-size: 1.4rem;
        line-height: 0px;
        margin: 12px auto 0;
    }
    
    .nav_header{
        display: flex;
        flex-direction: column;
        /* margin: 25px 32px 0px 174px; */
    }
}

/*============================
footer
==============================*/ 
.footer_container {
    position: relative;
    width: 100%;
    height: 425px;
    background-image: url('../images/lenez0005.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
}

.footer_container::before {
content: "";
position: absolute;
inset: 0;
background-color: rgba(0, 0, 0, 0.7); /* ←黒くするポイント */
z-index: 1;
}

.footer_topic{
    color:var(--primary-white1,#F0F0F0);
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 1.28px;
    position: relative;
    z-index: 2; /* オーバーレイより上に表示 */
    display: flex;
    justify-content: center;
}

.footer_topic a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s;
}

.footer_topic a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-white1);
    transition: width 0.3s;
}

.footer_topic a:hover::after {
    width: 100%; 
}

.footer_topic1{
    width: 145px;
}

.footer_topic2{
    width: 155px;
}

.footer_topic1,
.footer_topic2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer_btn{
    display: block;
    background: none;
    text-align: center;
    color: #f0f0f0;
    border: 1px solid #F0f0f0;
    margin: 15px auto 13px;
    line-height:1.7em;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.12px;
    padding: 15px;
    position: relative;
    z-index: 2; 
    transition: 0.4s;
    display: flex;
    width: 300px;
    height: 56px;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

  .footer_btn::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: '';
    /* -webkit-transition: all .3s; */
    transition: all .3s;
    border: 1px solid #f0f0f0;
  }
  
  .footer_btn:hover {
    opacity: 1;
    background-color: #F0f0f0;
    color: var(--primary-black);
}
.footer_btn:hover img {
    filter: invert(20%) brightness(30%); 
    transition: filter 0.4s;
}

.footer_btn:hover::before {
    border-color: var(--primary-black);
}

.footer_logo{
    color: var(--primary-white1, #F0F0F0);
    font-family: "Sawarabi Mincho";
    font-size: 2.8rem;
    letter-spacing: 0.56px;
    margin: 27px auto 0;
    text-align: center;
    position: relative;
    z-index: 2; 
}

.copy{
    color: var(--primary-white1, #F0F0F0);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7;
    letter-spacing: 1.12px;
    position: relative;
    z-index: 2; 
}

@media screen and (min-width:769px) {
    .footer_container {
        width: 100%;
        height: auto;
        padding: 63px 9%;
      }
    
    .footer_wrap{
        display: flex;
        justify-content: space-evenly;
    }
    
    .footer_topic{
        justify-content: start;
    }

    .footer_topic1,
    .footer_topic2{
        width: 156px;
        margin-top: 63px;
        gap: 24px;
    }
    
    .footer_btnWrap{
        gap: 56px;
    }
    
    .footer_logoWrap{
        display: flex;
        justify-content: space-between; 
        align-items: baseline;
        gap: 16px;                  
        margin: 84px auto 0;
    }
      
   
    .footer_logo{
        font-size: clamp(2.8rem,4.4vw,6rem);
        letter-spacing: 1.2px;
        line-height: 1;
    }
    
    .copy{
        text-align: center;
        font-weight: 600;
    }
}