@charset "utf-8";


/* ===========================
fv
============================== */
.fv_container{
    width: 375px;
    height: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.fv img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.fv_lead{
    font-family: "Sawarabi Mincho";
    font-size: 2.4rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    margin-top: 28px;
}

@media screen and (min-width:769px) {
    .fv_wrap{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-left:3.3%;
    }

    .fv_container{
        width:clamp( 375px,66vw,906px);
        height: 552px;
        overflow: hidden;
    }
    
    .fv img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .fv_lead{
        font-size: clamp(2.4rem, 3.3vw, 4.2rem);
        line-height: 1.9;
        letter-spacing: 3.36px;
        text-align: center;
        margin: auto;
    }
}

/* ===========================
sub
============================= */
.sub_containerPcUp,
.sub_containerPcDown{
    display: none;
}

#sub h3{
    width:clamp(300px,60%, 638px);
    margin: 31px auto 0;    
}

.sub_text{
    width:clamp(300px,60%, 638px);
    margin: 20px auto 0;
}

.sub_containerSp{
    width: clamp(300px,60%, 638px);
    min-height: 420px;
    display: flex;
    justify-content: center;
    margin: 35px auto;
    position: relative; 
  }
  
.sub_wrap1 {
    width: 160px;
    height: 130px;
    top: 0;
    left: 0;
    position: absolute;
}

.sub_wrap2{
    width: 116px;
    height: 136px;
    overflow: hidden;
    position: absolute;
    top: 31px;
    right:2%;  
}

.sub_wrap3{
    width: 182px;
    height: 182px;
    top: 203px;
    right: 63px;
    overflow: hidden;
    position: absolute;
}

.sub_img1,
.sub_img2,
.sub_img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
    flex-shrink: 0;
}

.background_box{
    background-image: url('../images/bg1.png');
    width: 220px;
    height: 121px;
    opacity: 0.05;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 266px;
  }

  @media screen and (min-width:769px) {
    .sub_containerSp{
        display: none;
    }

    .sub_containerPcUp,
    .sub_containerPcDown{
        display: block;
        position: relative;
    }
    
    .sub_containerPcUp{
        min-height: 600px;
    }

    .sub_containerPcDown{
        min-height: 400px;
    }

    #sub h3{
        width: clamp(300px,36vw,495px);
        margin: 48px 52% 0px 11%;    
    }
    
    .sub_text{
        width: clamp(300px,36vw,495px);
        margin: 24px 52% 0 11%;
    }
    
    .sub_wrap1{
        width: clamp(160px, 36vw,500px);
        height: auto;
        top: 96px;
        left: 0;
    }

    .sub_wrap2{
        width: clamp(116px,25vw,349px);
        height: clamp(136px, 80vh,406px);
        aspect-ratio: 349/406;
        top: 194px;
        right: 13%;
    }
    .sub_wrap3{
        width: clamp(182px, 33vw, 460px);
        height: auto;
        top: -76px;
        right: 9%;
    }
    
    .background_box{
        background-image: url('../images/bg1.png');
        width: clamp(220px,38vw,518px);
        height: clamp(121px,38vh,284px);
        opacity: 0.05;
        background-size: contain;
        background-repeat: no-repeat;
        margin: -154px auto 22px 9%;
      }
      /* ここの余白が大きくなるけどいいのかな？レスポンシブで動かした時の下の部分 */
  }

/* ===========================
about
=============================== */

.section--about{
    background: #F8F8F8;
    padding:28px 0 48px;
}

.about_container{
    display: flex;
    justify-content: center;
    margin: 29px auto 0;
}

.about_img1,
.about_img2{
    width: 200px;
    height: 200px;
}

.about_name{
    width:clamp(300px,60%, 638px);
    margin: 20px auto 0 ;
}

.about_job{
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 1.28px;
}

.about_text1,
.about_text2{
    width:clamp(300px,60%,638px);
    margin: 31px auto 0 ;
}

.btn--about{
    margin: 29px auto 0;
}

.btn--about::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 20px;
    background-image: url(../images/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 67px;
    top: 50%;
    transform: translateY(-50%);
    
}

.pcBr{
    display: none;
}

@media screen and (min-width:769px) {
    
    .pcBr{
        display: block;
    }
    .spBr{
        display: none;
    }
    
    .section--about{
        padding:65px 0 62px; 
     }
    
    .about_wrap,
    .about_logo{
        display: flex;
        justify-content: space-around;
        margin: 58px 9% 0 ;
    }

    .about_container{
        margin: 0;
        justify-content: center;
        width:clamp(300px,60%, 638px);
    }
    
    .about_img1,
    .about_img2{
        width: 400px;
        height: auto;
    }
    
    .about_introduce{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width:clamp(300px,60%, 638px);
        margin-left:4%;
    }
    
    .about_name{
        margin: 0;
    }
    
    .about_text1,
    .about_text2{
        width:100%;
        margin: 31px 0 0;
    }

    .about_text2{
        margin-right: 4%;
    }

    
    .about_logo{
        flex-direction: row-reverse;
        margin: 58px 9% 0 ;
    }
    
    .btn--about{
        margin: 24px 0 0;
    }
    
}

/* ========================
pick up
========================== */
.pickup_img1{
    margin: 24px auto 0;
}

.pickup_img2{
    margin: 0 auto;
}

.pickup_img1,
.pickup_img2{
    width: 375px;
    height: 281px;
    flex-shrink: 0;
}

.pickup_img1 img,
.pickup_img2 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.pickup_text{
    width: 375px;
    height: 310px;
    background-color: rgba(147, 113, 81, 0.3);
    margin: 0 auto;
    padding-top: 24px;
}

.pickup_title1,
.pickup_title2{
    text-align: center;
    margin:0 auto ;
}

.pickup_txt1,
.pickup_txt2{
    margin: 6px auto 0;
    width: 300px;
}

@media screen and (min-width:769px) {
    .section--pickup{
        padding-top: 65px;
    }

    .pickup_container1{
        margin-top: 49px;
    }

    .pickup_container1,
    .pickup_container2{
        display: flex;
        justify-content: center;
    }

    
    .pickup_img1,
    .pickup_img2{
        margin: 0;
        width: 50%;
        height: auto;
        aspect-ratio: 4/3;
    }
    
    .pickup_img1 img,
    .pickup_img2 img{
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
        object-fit: cover;
        display: block;
    }
    
    .pickup_text{
        width: 50%;
        aspect-ratio: 4/3;
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start; /* ← 中央から左寄せに変更 */
        padding-left: 24px;      /* ← 左余白を追加（数値は揃えたい位置に調整） */
    }
    
    .pickup_title1,
    .pickup_title2{
        width: clamp(375px, 73%, 500px);
        text-align: left;
    }

    .pickup_title1{
        margin:0 0 0 8.8%;
    }

    .pickup_title2{
        margin: 0 0 0 17%;
    }
    
    .pickup_txt1,
    .pickup_txt2 {
        width:73%;
        text-align: left;        
    }
    
    .pickup_txt1{
        margin: 40px 0 0 8.8%;
        height: auto;
    }

    .pickup_txt2{
        margin: 40px 0 0 17%;
        height: auto;
    }
    
    .pickup_container2{
        flex-direction: row-reverse;
    }
}


/* =========================
product
============================ */
.autoplay{
    align-items: center;
    /* width: 100%; */
    /* margin: 24px auto 12px; */
    padding-bottom: 12px;
}


#product img{
    width: 268px;
    height: 268px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
    margin: 24px auto 12px;
}

.product_title,
.product_text{
    align-items: start;
    width: 268px;
    margin: 16px auto 0;
}

.btn--product{
    margin: 24px auto 27px;
}

.btn--product::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 20px;
    background-image: url(../images/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
    right: 67px;
    top: 50%;
    transform: translateY(-50%);
}

.slick-arrow{
    z-index:2!important;
    width:60px!important;
    height:60px!important;
}

.slick-arrow:before{
    opacity:1!important;
}

.slick-next{
    right:-30px !important;
}

.slick-prev{
    left:10px !important;
}
.slick-prev:before, .slick-next:before {
    color: var(--primary-brown,#937151) !important;
}


@media screen and (min-width:769px) {
    .section--product{
        padding: 65px 8.8% 0;
    }

    .autoplay{
        align-items: center;
        width: 100%;
        margin: 58px auto 112px;
        /* padding-bottom: 12px; */
    }

    .product_bake,
    .product_fresh,
    .product_whole,
    .product_gift{
        margin-right: 56px;
        /* width: 376px; */
    }

    
    #product img{
        /* width: 376px; */
        /* height: 376px; */
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow: hidden;
        /* align-items: center; */
    }
    
    .product_title,
    .product_text{
        /* width: 376px; */
        margin: 16px auto 16px ;
    }
    
    .btn--product{
        margin: 24px auto 43px;
    }

}

/* ========================
sns
========================= */
.section--sns{
    background-color:#f6f8f8;
    padding-bottom: 28px;
}

.sns_text{
    width: 300px;
    margin: 8px auto 0;
}

.sns_img{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    max-width: 300px;
    margin: 10px auto 0; 
  }
  
  .sns_img img {
    width: 90px;
    height: 90px;
    object-fit: cover; 
    overflow: hidden;
  }
  
  .btn--sns{
    margin: 33px auto 0;
  }

  @media screen and (min-width:769px) {
    .section--sns{
        padding: 65px 0 48px;
    }
    
    #sns h4{
        width: 100%;
        margin:11px auto 0;
        text-align: center;          
    }
    
    .sns_img{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 16px; 
        max-width: 632px;
        margin: 26px auto 0; 
      }
      
      .sns_img img {
        width: 200px;
        height: 200px;
        /* object-fit: cover; 
        overflow: hidden; */
      }
      
      /* .btn--sns{
        margin: 33px auto 0;
      }
     */
  }

/*======================
access
=====================  */
.mapPc{
    display: none;
}

#access h2{
    margin: 28px auto 0 10%;
    text-align: start;
}

address{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 1.28px;
    margin: 16px auto 0;
}

.address_map{
    display: flex;
    align-items: center; 
    gap: 10px;
  }
  
  .address_icon {
    width: 30px;
    height: 30px;
  }

.mapSp{
    width: 300px;
    height: 300px;
    margin: 15px auto 0;
    display: flex;
    align-items: center;
}

.time{
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 1.28px;
    width: 300px;
    margin: 20px auto 28px;
}

.time span{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: flex-end;
}

@media screen and (min-width:769px) {
    .mapSp{
        display: none;
    }

    .access_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 54px 9%;
    }
      
    .access_container{
        justify-content: flex-start;
        width: 36%;
    }
    
    #access h2{
        margin: 0;
    }
    
    address{
        width: 100%;
        gap: 0;
        margin: 16px auto 32px;
    }


    .mapPc{
        width: clamp(300px,30vw,412px);
        height: 392px;
        display: flex;
        align-items: center;
    }
    
    .time{
        width: 100%;
        margin: 20px auto 41px;
    }
    
    .time span{
        display: inline;
        font-size: 1.6rem;
    }

}

/*============================
footer
==============================*/ 

.footer_container {
    position: relative;
    width: 100%;
    height: 425px;
    background-image: url('../images/lenez0005.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
  }
  
  .footer_container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7); /* ←黒くするポイント */
    z-index: 1;
  }

.footer_topic{
    color:var(--primary-white1,#F0F0F0);
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 1.28px;
    position: relative;
    z-index: 2; /* オーバーレイより上に表示 */
    display: flex;
    justify-content: center;
}

.footer_topic1{
    width: 145px;
}

.footer_topic2{
    width: 155px;
}

.footer_topic1,
.footer_topic2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer_btn{
    display: block;
    background: none;
    text-align: center;
    color: #f0f0f0;
    border: 1px solid #F0f0f0;
    margin: 15px auto 13px;
    line-height:1.7em;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.12px;
    padding: 15px;
    position: relative;
    z-index: 2; 
    transition: 0.4s;
    display: flex;
    width: 300px;
    height: 56px;
    justify-content: center;
    flex-shrink: 0;
}

  .footer_btn::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: '';
    /* -webkit-transition: all .3s; */
    transition: all .3s;
    border: 1px solid #f0f0f0;
  }
  
  .footer_btn:hover {
    opacity: 0.8;
}

.footer_logo{
    color: var(--primary-white1, #F0F0F0);
    font-family: "Sawarabi Mincho";
    font-size: 2.8rem;
    letter-spacing: 0.56px;
    margin: 27px auto 0;
    text-align: center;
    position: relative;
    z-index: 2; 
}

.copy{
    color: var(--primary-white1, #F0F0F0);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7;
    letter-spacing: 1.12px;
    position: relative;
    z-index: 2; 
}

@media screen and (min-width:769px) {
    .footer_container {
        width: 100%;
        height: auto;
        padding: 63px 9%;
      }
    
    .footer_wrap{
        display: flex;
        justify-content: space-evenly;
    }
    
    .footer_topic{
        justify-content: start;
    }

    .footer_topic1,
    .footer_topic2,{
        width: 156px;
        margin-top: 63px;
        gap: 24px;
    }
    
    .footer_btnWrap{
        gap: 56px;
    }
    
    .footer_logoWrap{
        display: flex;
        justify-content: space-between; 
        align-items: baseline;
        gap: 16px;                  
        margin: 84px auto 0;
    }
      
   
    .footer_logo{
        font-size: clamp(2.8rem,4.4vw,6rem);
        letter-spacing: 1.2px;
        line-height: 1;
    }
    
    .copy{
        text-align: center;
        font-weight: 600;
    }
}