@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap');

:root {
  --primary-black: #3a3a3a;
  --primary-white: #fdfdfd;
  --primary-pink: #ec96a3;
  --primary-brown: #7e2c2c;
  --font-noto:'Noto Serif JP',serif;
  --font-zen:'Zen Old Mincho', serif;
}

/* @theme {
  --color-primary-black: #3a3a3a ;
  --color-primary-white: #fdfdfd;
  --color-primary-pink: #ec96a3;
  --color-primary-brown: #7e2c2c;
  --font-family-: 'Noto Serif JP', serif;
} */

body {
  background: var(--color--primary-white);
  color: var(--color--primary-black);
  font-family:var(--font-noto);
}
