@import "tailwindcss";

:root {
  --primary-black: #3a3a3a;
  --primary-white: #fdfdfd;
  --primary-pink: #ec96a3;
  --primary-brown: #7e2c2c;
  
  --font-noto-serif-jp: 'Noto Serif JP', serif;
  --font-noto-sans: 'Noto Sans', sans-serif;
  --font-zen-old-mincho: 'Zen Old Mincho', serif;

}

body {
  background: var(--primary-white);
  color: var(--primary-black);
  font-family: var(--font-noto-serif-jp);
}